<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
      <mat-panel-description>{{
        post.date | date: "medium"
      }}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <!-- bind to property of [routerLink] -->
      <!-- passes on the post.id to the routerLink -->
      <a mat-button [routerLink]="['/edit', post.id]" color="primary">Edit</a>
      <button mat-button color="accent" (click)="onDelete(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="text-info mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
  No post updated!
</p>
