<!-- use [] to target the property of the underlying html obj -->
<!-- use '' to read string value directly -->
<!-- otherwise default refer to the property in the component in TS file -->
<!-- create maker in element using #elementMarker -->
<!-- ngModel is a directive to listen and emit data -->

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        [ngModel]="post?.title"
        required
        minlength="1"
        name="title"
        placeholder="Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">
        Enter a Post Title of min length 2
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        [ngModel]="post?.content"
        #content="ngModel"
        required
        name="content"
        matInput
        placeholder="Content"
        rows="6"
      ></textarea>
      <mat-error *ngIf="content.invalid">
        Enter content for your post
      </mat-error>
    </mat-form-field>
    <!-- add event listener to the button -->
    <button type="submit" mat-raised-button color="primary">Post</button>
  </form>
</mat-card>
